.card-header {
    font-weight: bold;
    background-color: #022847 !important;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;
}

.table {
    background-color: #ffffff;
    text-align: center;
}

.table th {
    background-color: #022847;
    color: #ffffff;
}

.table td {
    vertical-align: middle;
}

.table .btn {
    padding: 5px 10px;
}

.modal-header {
    background-color: #022847;
    color: #ffffff;
}

#movTable tr.stripe1 td, #movTable tr.stripe1 th {
    background-color: #f2f2f2;
}
#movTable tr.stripe2 td, #movTable tr.stripe2 th {
    background-color: #fff;
}

#estoqueTable tr.stripe1 td, #estoqueTable tr.stripe1 th {
    background-color: #f2f2f2;
}
#estoqueTable tr.stripe2 td, #estoqueTable tr.stripe2 th {
    background-color: #fff;
}

i {
    color: #da6a0f;
}

.icone {
	color: white !important;
}

